@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>@Model.Name</li>
    @if (!String.IsNullOrEmpty(Model.Birthday.ToString()))
    {
    <li>@Model.Birthday</li>
    }
</ul>
