@using Vidly.Models
@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@Html.ActionLink(@c.Name, "Details", new { Id = c.Id })</td>
                <td>@c.MembershipType.Description</td>
            </tr>
        }
    </tbody>
</table>